<div class="modal-body">
    <div class="img-modal">
        <div class="col-md-9 modal-image">
            <img class="img-responsive" src="{{ list(food.pictures)[0].url }}">
            {% for pic in list(food.pictures)[1:] %}
                <img class="img-responsive hidden" src="{{ pic.url }}">
            {% end %}
            <a href="" class="img-modal-btn left"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a href="" class="img-modal-btn right"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
        <div class="col-md-3 modal-meta">
            <div class="modal-meta-top">
                <div class="img-poster clearfix">
                    <a href=""><img class="img-circle" src="static/pic/auth.png"></a>
                    <strong><a href=""></a></strong>
                    <span class="date sub-text"> {{ food.add_dt }}</span>
                </div>
                <ul class="img-comment-list">
                    <li>
                        <div class="comment-img">
                            <img src="static/pic/auth.png" />
                        </div>
                        <div class="comment-text">
                            <strong><a href="">user</a></strong>
                            <p>comment.</p>
                            <span class="date sub-text"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-meta-bottom">
                <input type="text" class="form-control" placeholder="leave a commment"/>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
</div> -->

<script src="static/js/lightbox.js"></script>