{% extends "navbar.html" %}
{% block title %} 食堂网 {% end %}
{% block body %} 
	<div id="flow">
		{% for food in foods %}
			{% block food %}
				{% for pic in food.pictures %}
					<div class="item" style="background-color:#fff;box-shadow: 0 1px 3px rgba(0,0,0,.3);">
						<img class="item_img" src="{{ pic.url }}" onclick="item_layer({{ food.id }})">
						<div>
							<div style="padding-left:10px;padding-top:10px;">
  								<p style="font-size:14px;">{{ food.description }}</p>
  							</div>
  							<div>
  								<button type="button" class="btn btn-link btn-sm">
  									<span class="glyphicon glyphicon-cutlery"></span>
  								</button>
								<a href="/restaurant/detail/{{ food.restaurant.id }}">{{ food.restaurant.name }}</a>
  							</div>
						</div>

						<div style="background-color:#eee;height:30px;">
							<div>
  								<span>	
  									<button type="button" class="btn btn-link btn-sm" onclick="like({{ food.id }})">
  										<span class="glyphicon glyphicon-thumbs-up"></span> 
									</button>
									<span id="food_like_{{ food.id }}">{{ food.likes }}</span>
								</span>
								<span>							
									<button type="button" class="btn btn-link btn-sm" onclick="dislike({{ food.id }})">
  										<span class="glyphicon glyphicon-thumbs-down"></span> 
									</button>
									<span id="food_dislike_{{ food.id }}">{{ food.dislikes }}</span>
								</span>
								<span style="float:right">							
                                    <div class="simpleCart_shelfItem">
                                        <span class="item_price">¥ {{ food.price }} </span>
                                        <button type="button" class="btn btn-link btn-sm" onclick="simpleCart.add({id:'{{ food.id }}', name:'{{ food.name }}', price: {{ food.price }}});">
                                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                            <small>下单</small>
                                        </button>
                                    </div>
								</span>
							</div>
						</div>
					</div>
				{% end %}
			{% end %}
		{% end %}
	</div>
    <div id="ajax-modal" class="modal fade" tabindex="-1" style="display: none;"></div>
	<script type="text/javascript">
        $(document).ready(function () {
            $("#flow").gridalicious({
                gutter: 10,
                width: 240,
                animate: true,
                animationOptions: {
                        speed: 200,
                        duration: 300,
                        complete: onComplete},
            });

            function onComplete(data) { 
            };
        });

        function getCookie(name) {
            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        };

        function like(food_id){   
            $.ajax({   
                type:"post",     
                url:"/food/like",
                data: {food_id: food_id, _xsrf: getCookie("_xsrf")},
                success:function(msg){   
                    $("#food_like_"+ food_id).html(msg);
                },
            });
        };

        function dislike(food_id) {   
            $.ajax({   
                type:"post",     
                url:"/food/dislike",
                data: {food_id: food_id, _xsrf: getCookie("_xsrf")},
                success:function(msg){   
                    $("#food_dislike_"+ food_id).html(msg);
                },
            });
        };
    </script>

    <script type="text/javascript">
        function item_layer(food_id) {
            var $modal = $('#ajax-modal');
            $('body').modalmanager('loading');
            setTimeout(function() {
                $modal.load(
                    '/food/detail/' + food_id, 
                    '', 
                    function() {$modal.modal()});
            }, 1000);
        };
    </script>
{% end %}
